$icomoon-font-family: "r24-cropper" !default;
$icomoon-font-path: "../../assets/fonts/r24-cropper" !default;

$icon-r24-fullscreen: "\e900";
$icon-r24-high-priority: "\e901";
$icon-r24-multiply: "\e902";
$icon-r24-play: "\e903";
$icon-r24-reflect: "\e904";
$icon-r24-trash: "\e905";