@import 'mixins.scss';
@import 'r24-cropper-font/index.scss'; // Vector icons set (Font)
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

$content_width: 1600px;

@media (max-width: 1600px) {
    $content_width: 98%;
}

:root {
    --color-white: #ffffff;
    --color-black: #0D0D0D;
    --color-gray: #4F4F4F;
    --color-green: #21C35D;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body, main {
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
}

body {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;

    main {
        padding-top: 60px;
        width: 100%;
    }
}

.entry {
    margin-bottom: 60px;
    text-align: center;

    &__subtitle {
        margin-top: 10px;
    }
}

.title {
    color: #000;
    @include setFont(32px, 500, 1.12em);
    text-align: left;

    &_size_big {
        @include setFont(42px, 700, 1.25em);
    }

    &_align_center {
        text-align: center;
    }
    &_align_right {
        text-align: right;
    }
}

.subtitle {
    color: #A1A1AA;
    @include setFont(18px, 400, 1.25em);

    &_font-size_20 {
        font-size: 20px;
    }

    &_font-size_small {
        font-size: 14px;
    }
}

.container {
    max-width: $content_width;
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 30px;

    &_align_start {
        align-items: flex-start;
    }
    
    .col {
        max-width: 100%;
        width: 100%;

        &-7 {
            width: 58%;
        }
        &-6 {
            width: 50%;
        }
        &-5 {
            width: 42%;
        }
    }
}

.buttons-group {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    gap: 10px;
}

.button {
    text-decoration: none;
    color: #fff;
    background-color: #A1A1AA;
    border: none;
    padding: 12px 24px;
    text-align: center;
    border-radius: 8px;
    display: inline-block;
    font-size: 14px;

    &_icon {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 10px;
    }

    &_width {
        &_100 {
            width: 100%;
        }
        &_50 {
            width: 50%;
        }
    }

    &_weight {
        &_light {
            font-weight: 300;
        }
        &_bold {
            font-weight: 700;
        }
    }

    &_color {

        &_green {
            color: var(--color-white);
            background: var(--color-green);
        }
    }
}

.label {
    width: 110px;
    color: var(--color-white);
    padding: 5px 0;
    border-radius: 8px;
    text-align: center;

    &__name {
        color: inherit;
        @include setFont(14px, 500, 1.25em);
    }

    &_align_left {
        text-align: left;
    }
    &_align_right {
        text-align: right;
    }
}

.icon-text {
    display: inline-flex;
    align-items: center;
    justify-content: start;   
}

.stage {

    &__information {
        margin-bottom: 45px;
        display: grid;
        grid-template-columns: 64px 100%;
        grid-template-rows: auto;
        grid-template-areas: 
          "index title"
          "index subtitle";
    }

    &__index {
        $size: 44px;
        grid-area: index;
        margin-right: 20px;
        width: $size;
        height: $size;
        background-color: #454645;
        color: var(--color-white);
        border-radius: 4px;
        @include flexCenterAll();
        @include setFont(32px, 500, 1.12em);
    }
    &__title {
        grid-area: title;
    }
    &__subtitle {
        grid-area: subtitle;
    }

    &__videos {
        display: flex;
        align-items: column;
        justify-content: flex-start;
        align-items: stretch;
    }

    &__video + &__video {
        margin-top: 12px;
    }

    &__video {
        width: 100%;
    }

}

.video {
    background: #F3F3F3;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 18.5px 16px;

    &__preview {
        $size: 80px;
        width: $size;
        height: $size;
        background: rgba(20, 20, 20, 0.3);
        border-radius: 12px;
    }

    &__name {
        max-width: 50%;
        color: var(--color-black);
        @include setFont(20px, 500, 1.25em);
    }
}

// Section "Cropper"
.cropper {
    display: flex;
    position: relative;

    &-modal {
        display: none;
    }

    &__buttons {
        position: absolute;
        padding: 0;
        padding-right: 38px;
        right: 0;
        max-width: 205px;
        width: 100%;
        background: #f3f3f3;
        justify-content: flex-end;
        z-index: 2;
    }

    &__area {
        padding-top: 65px;
        padding-bottom: 40px;
        position: inherit;
        overflow-x: scroll;
        overflow-y: hidden;
        scroll-behavior: smooth;

        &::-webkit-scrollbar {
            width: 2px;
            height: 16px;
            cursor: pointer;
        }

        &::-webkit-scrollbar-track {
            background-color: var(--color-white);
            margin: 0 40px;
            border-radius: 8px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #A1A1AA;
            outline: 1px solid #EBEDF0;
            border-radius: 8px;
            cursor: pointer;
        }
    }
}


.plate {
    max-width: 100%;
    width: auto;
    height: 98%;
    pointer-events: none;
    transform: scaleY(-1);

    &__canvas {
        max-width: 100%;
        width: 100%;
    }

    &__scale {
        margin: 15px auto 0;
    }

    .cropper-view-box {
        outline: 4px solid var(--color-white);
        outline-offset: -4px;
        background: rgba(0, 0, 0, 0.05);
    }

    &_active {
        .cropper-view-box {
            outline: 5px solid var(--color-green);
            outline-offset: -5px;
        }
    }
}

.customizer {

    &__button {
        padding: 17px 0;
        font-size: 20px;
        font-weight: bold;
    }

    .col {
        text-align: right;
    }
}

.plate-panels {
    text-align: left;
    margin: 0 0 15px;
}

.plate-panel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 64px 36px 38px;
    background: rgba(196, 196, 196, 0.2);
    border-radius: 12px;

    & + & {margin-top: 20px;}

    &__index-label {
        background-color: #E0E0E0;
        position: absolute;
        top: 0;
        left: 0;
        transition: .275s;
    }

    &_active {
        box-shadow: 0 0 0 2px var(--color-green);
    }
    
    &_active &__index-label {
        top: -2px;
        left: -2px;
        background-color: var(--color-green);
    }

    &__limit {
        position: absolute;
        top: -23.5px;
        right: 0;
        margin-bottom: 6px;
        
        .icon {
            font-size: 12px;
            color: var(--color-green);
            margin-right: 4.5px;
        }

        .text {
            color: #A1A1AA;
            @include setFont(14px, 300, 1.25em);
        }
    }
    
    &__remove {
        $size: 34px;
        position: absolute;
        padding: 0;
        bottom: 8px;
        right: 8px;
        width: $size;
        height: $size;
        border-radius: 6px;
        background: #fff;
        color: #A1A1AA;
        @include flexCenterAll();
        
        &-icon {
            font-size: 19px;
            color: inherit;
        }
    }

    &:nth-child(1) &__remove {
        display: none;
    }

    &__control {
        position: relative;
        max-width: 252px;
        width: 100%;
        text-align: right;

        label {
            @include setFont(18px, 300, 1.25em);
            color: #A7A7A7;
        }
    }

    &__separator {
        margin: auto 20px;
        
        i {
            font-size: 18px;
            line-height: 1;
        }
    }

    &__input-body {
        background: #FFFFFF;
        border: 2px solid #D9D9D9;
        border-radius: 12px;
        padding: 19px 32px 19px 23px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .text, input {
            @include setFont(32px, 600, 1.25em);
        }
    }

    &__input-text {
        display: inline-flex;
        align-items: flex-start;
        justify-content: flex-end;
    }

    input {
        max-width: 65px;
        text-align: right;
        color: var(--color-black);
        background-color: transparent;
        border-radius: 0px;
        outline: none;
        border: none;
        padding: 0;
        -moz-appearance: textfield;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
    }
}

.plate_col {
    width: 100%;
    background: rgba(196, 196, 196, 0.2);
    border-radius: 24px;
    padding: 40px 0 50px;
    position: relative;
    overflow-x: hidden;

    .button {
        $size: 163.5px;
        max-width: $size;
        width: $size;
        justify-content: center;
        padding: 10.5px 0;
        background-color: #454645;
        color: #EBEDF0;

        > * {
            pointer-events: none;
        }

        &__icon {
            font-size: 24px;
            line-height: 1;
        }
        &__text {
            font-size: 18px;
        }
    }
}

.plate-track {
    height: auto; //calc(100% - 35px);
    width: auto;
    display: flex;
    align-items: stretch;
    position: absolute;
    top: 65px;
    left: 1px;

    /*&::before {
        content: '';
        z-index: 1;
        background-image: url(../../assets/images/hand-move-white.svg);
        background-color: #191919;
        width: 3.5rem;
        height: 3.5rem;
        background-repeat: no-repeat;
        background-size: 65%;
        background-position: 40% 40%;
        transform: translate(-50%, -50%);
        position: inherit;
        left: 50%;
        top: 50%;
    }

    &:hover::before {
        display: none;
    }*/
    
    &:hover {
        cursor: pointer;
    }
    
}

.video {
    background: #F3F3F3;
    border-radius: 12px;

    &__name {
        
    }
    &__thumb {

    }
}

.background {
    margin: 0;
    position: relative;
    width: auto;
    display: inline-flex;
    align-items: center;
    
    &__scale-button {
        position: absolute;
        top: -65px;
        left: 38px;
    }
    &__item {
        position: relative;
        width: auto;
        height: 100%;
    }
    &__image {
        max-width: 100%;
        width: 100%;
        height: 100%;
        min-height: 150px;
        transition: .275s linear;
        transform: scale(1);

        &_scaled {
            transform: scale(-1, 1);
        }
        &_hidden {
            transform: scale(0);
        }
    }
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    max-width: 100%;
    width: 100%;
    height: 100%;

    &_open {
        display: flex;
    }
    
    &__overlay {
        z-index: 1;
        width: inherit;
        height: inherit;
        background: rgba(0, 0, 0, 0.42);
        position: absolute;
        top: 0;
    }

    &__body {
        overflow-y: auto;
        position: relative;
        z-index: 2;
        max-width: 1232px;
        width: 100%;
        max-height: 75vh;
        height: auto;
        background: var(--color-white);
        border-radius: 12px;
        margin: auto;
        padding: 60px 80px;

        @media (max-width: 1232px) {
            max-width: 90%;
            max-height: 75vh;
            padding: 50px 60px;
        }
    }
    
    &__title {
        color: var(--color-black);
        @include setFont(42px, 700, 1.25em);
        margin-bottom: 55px;
    }

    &__close {
        position: absolute;
        top: 38px;
        right: 38px;
        cursor: pointer;
    }

    &__close-icon {
        font-size: 32px;
    }
}

.preview {
    overflow-x: hidden;
    position: relative;
    transition: .275s ease-in-out;
    transform: scale(1);
    margin: 0 auto;
    padding-top: 35px;

    &:hover {
        transform: scale(1.05);
    }

    &__background {
        position: inherit;
    }
    &__background-item {
        aspect-ratio: 2 / 1;
        max-width: 50%;
        margin: 0 -0.5px;
    }

    &__plates {
        position: absolute;
        left: 0;
        top: 0;
        max-width: 100%;
        width: auto;
        height: 100%;
        display: flex;
        align-items: center;
    }
    &__plate {
        outline: 3px solid #fff;
        outline-offset: -3px;
        height: 100%;
        position: relative;
    }
    &__plate-name {
        position: absolute;
        left: 0;
        top: 0;

        @include setFont(18px, 400, 1.25em);
    }
}