@mixin setFont($size, $weight, $height) {
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
}

@mixin flexCenterAll() {
    display: flex;
    align-items: center;
    justify-content: center;
}